@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

้ * {
    padding: 0%;
    margin: 0%;
    font-family: 'Inter', sans-serif;
    font-size: 1.68vw;

}

h1 {
    text-align: center;
    transition: 0.7s ease;
}

h1:hover {
    color: #3c4858;
}

.user-list {}

ul {
    display: flex;
    flex-direction: column;

    align-items: center;
    list-style: none;
}

li {
    font-size: 24px;
    margin: 10px;
    font-weight: bold;
    color: #1a0063;
    cursor: pointer;
    transition: 0.5s ease;
    padding-bottom: 5px;
}

li:hover {
    transform: scale(1.35);
    color: #5619ff;
    border-bottom: #5619ff solid 3px;
}

.post-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    width: 230px;
    margin: 10px;
    border: #000000 solid 1px;
    border-radius: 10px;
    padding: 7px;
    transition: 0.7s ease;
    cursor: pointer;
}

.container:hover {
    transform: scale(1.17);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}


.body-post {

    font-size: medium;
}